:root {
    --main-color: hsl(172, 67%, 45%);
    --body-bg: hsl(185, 41%, 84%);
    --screen-color: hsl(183, 100%, 15%);
    --title-text: hsl(186, 14%, 43%);
    --inputs: hsl(189, 41%, 97%);
    --font: 'Space Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--body-bg);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.main-title {
    margin-bottom: 30px;
    color: var(--title-text);
    letter-spacing: 7px;
}

.calculator-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    min-height: 500px;
    max-width: 800px;
    width: 80%;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
}

/*Formulario*/

.form {
    flex-basis: 50%;
}

.form__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form__text {
    color: var(--title-text);
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.input {
    height: 40px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: var(--inputs);
    font-size: 24px;
    font-family: var(--font);
    font-weight: bold;
    color: var(--screen-color);
    text-align: right;
    padding: 0 15px;
    width: 100%;
}

.input__container {
    position: relative;
}

/*Simbolo de dolar del primer input*/

.input__container .input--amount + span::before {
    content: url(../images/icon-dollar.svg);
    position: absolute;
    display: block;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
}

/*Simbolo de usuario del segundo input*/

.input__container .input--persons + span::before {
    content: url(../images/icon-person.svg);
    position: absolute;
    display: block;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.input--custom {
    height: 45px;
    padding: 0;
}

/*La grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.grid input::placeholder {
    text-align: center;
    font-size: 28px;
    font-family: var(--font);
    font-weight: bold;
    color: var(--screen-color);
    background-color: var(--body-bg);
    height: 50px;
}

.button {
    height: 45px;
    background-color: var(--screen-color);
    color: white;
    font-family: var(--font);
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(78, 173, 102, 0.267);
    cursor: pointer;
}

/*Screen*/

.screen {
    background-color: var(--screen-color);
    width: 45%;
    margin: 0 auto ;
    border-radius: 20px ;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.screen__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.screen__section:last-child {
    justify-content: center;
}

.screen__text--principal {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.screen__text--secundary {
    font-size: 14px;
    color: var(--title-text);
    font-weight: bold;
}

.screen__result {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}

.button--refresh {
    background-color: var(--main-color);
    width: 100%;
    color: var(--screen-color);
}